version: "3.8"

services:
  backend:
    image: mayb333/duga:backend
    environment:
      - TZ=Europe/Moscow
      - ENV=prod
    ports:
      - "8080:8080"
    healthcheck:
      test: curl --fail http://localhost:8080/health || exit 1
      interval: 60s
      retries: 5
      start_period: 20s
      timeout: 10s
    deploy:
      restart_policy:
        condition: on-failure
        delay: 30s
        max_attempts: 2
        window: 60s
